<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= link_to restaurant_path(restaurant),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                  <%= icon('far', 'trash-alt') %>
                  <% end %>
    </li>
  <% end %>
</ul>
<%= link_to "+ Create new", new_restaurant_path  %>